body {
  font-family: sans-serif;
}
/*
  1vh == 1% ed la pantalla
  100vh = 100%
*/
.imagenes-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.imagen {
  position: relative;
  margin-right: 10px;
  display: inline-flex;
  flex-direction: column;
}

/*
  transition lo aplicamos a nuestro transform
*/
img {
  height: 150px;
  width: 150px;
  transition: transform 0.3s ease-in-out;
}

/*
  display:none hace q el elemento no se muestre
  min-width nos permite definir un ancho minimo 
  por mas que nosotros definamos un width mas pequelo
  respetara el min-width q colocamos
*/
.nombre {
  position: absolute;
  background-color: black;
  border-radius: 10px;
  color: white;
  display: none;
  min-width: 100px;
  width: 150px;
  padding: 10px;
  top: -60px;
}

.imagen:hover .nombre {
  display: flex;
}

/*
   text-overflow: ellipsis; hace que cuando el texto no quepa dentro del tamaño del contendor muestre tre puntitos ...

    overflow: hidden; hace q no se muestro un scroll para poder moverse y ver todo el texto

    white-space: nowrap; si el texto tiene espacios esto se respetaran y se mostraran
    caso contrario el texto se muestra sin espacios
*/
.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.nombre::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  left: 40%;
  bottom: -20px;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/*
  transform nos permite movenrnos en las diferentes coordenadas
*/
.imagen:hover img {
  transform: translateY(-5px);
}

@media (max-width: 680px) {
  .imagenes-container {
    flex-direction: column;
  }
}
