*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*
  El posicionamiento fijo (Fixed) lo que hace es que nuestro elemento
  se mantenga fijo en la posision que le indicamos podemos acomodarlo con
  rigth,left,top,bottom

  El elemento donde aplicamos la posicion fixed permanecera en ese lugar
  asi nosotros hagamos el scroll the la pagina
*/
.padre {
  background: red;
  height: 200px;
  width: 200px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.hijo {
  background: rgb(20, 50, 146);
  height: 300px;
  width: 300px;
}
