/*
  Para usar la posicion absulta esta siempre busca que su podre este posicionado
  ya sea con position relative o absolute para tenemos como referencia

  es decir siempre el absolute tiene q estar dentro de un elemento padre para poder
  tomarlo como referencia para moverse

  si colocamos posicion absoluta a un elemento que no tiene un padre posicionado
  tomara como referencia el elemento body
*/
.padre {
  background: red;
  height: 200px;
  width: 200px;
  position: relative;
  left: 200px;
}

.hijo {
  background: rgb(20, 50, 146);
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
}
