/*
  posicion relative nos ayuda a habiliar las opciones de mover nuestro
  elemento left right top y bottom si no habilitamos la posicion relative
  estas opciones no se aplicaran
*/
.padre {
  background: red;
  height: 200px;
  width: 200px;
  position: relative;
  left: 200px;
}

.hijo {
  background: rgb(20, 50, 146);
  height: 50px;
  width: 50px;
  position: relative;
  left: 200px;
  bottom: 50px;
}
