*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.padre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hijo {
  background: palevioletred;
  height: 200px;
  width: 200px;
  border-radius: 15px;
}

/*
  Before y after son decoradores que nos permite agregar elementos
  que no se reflejan en el DOM del index.hmtl pero podemos mostrarlos
  en pantalla con estos decoradaroes

  otra caracteristica es que el elemtno que se aplique before siempre 
  se mostrate antes que el after aun asi en la reglas definiamos primoer
  el after

  la propiedad content generalmente va vacia pero se le puede colocar un texto
  para visualizarla

  las propiedades height y with no se aplicaran hasta que no definamos el display
*/

.hijo::before {
  background: white;
  content: "before";
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
}

.hijo::after {
  background: greenyellow;
  content: "after";
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
}
