/*aplica el tipo de letra*/
body {
  font-family: sans-serif;
  margin: 0;
}

/*aplica flex para colocar todos los elementos hijos en un row
y poder manipular a su gusto*/
header {
  display: flex;
  background-color: #14161a;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/*}
aplica el color de texto y quita la decoracion de subrayado
*/
a {
  color: white;
  text-decoration: none;
}

/*
  aplica flex para los elemntos dentro de nuestro logo
  este flex es independiente del flex de header
*/
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a {
  font-weight: 700;
  margin: 10px;
}

/*aplica elcambio de color al pasar el mosue sobre el elemento*/
nav a:hover {
  color: rgb(221, 133, 10);
}

/*
  media query se aplican cuando el tamaño de dispositivo 
  llega al valor que indiacmos aplicara todas las reglas que definimos dentro
*/
@media (max-width: 680px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0;
  }
}
